@{
    List<MotorReservas.Entidad.Modulo> modulos = (List<MotorReservas.Entidad.Modulo>)Session["modulos"];
    ViewBag.Title = "Bienvenido a su pagina de Inicio";
    int i = 0;
}
<script src="~/Scripts/Comun/Home/Home.js"></script>
@if (ViewBag.NoAutorizado == true)
{
    <div class="jumbotron">
        <h2>Se le ha enviado a la pagina de inicio porque al modulo que intento acceder no se le han asignado permisos</h2>
    </div>
}

@if (modulos != null && modulos.Exists(mod => mod.IdModulo == (int)MotorReserva.Entidad.ENUMERACION_MODULOS.Administrativo) == true)
{
    <h2>Inicio Modulo Administrativo</h2>
    <ul id="ulContenedorTabAdmon" class="nav nav-pills nav-justified">
        <li role="presentation" class="active">
            <a href="#divContenedorModulo" data-toggle="tab">
                Modulos
            </a>
        </li>
        <li>
            <a href="#divContenedorRol" data-toggle="tab">
                Roles
            </a>
        </li>
        <li>
            <a href="#divContenedorUsuario" data-toggle="tab">
                Usuarios
            </a>
        </li>
        <li>
            <a href="#divContenedorEmpresa" data-toggle="tab">
                Empresas
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="divContenedorModulo" class="tab-pane fade in active panel panel-default">
            @{Html.RenderAction("Index", "Modulo");}
        </div>
        <div id="divContenedorRol" class="tab-pane fade panel panel-default">
            @{Html.RenderAction("Index", "Rol");}
        </div>
        <div id="divContenedorUsuario" class="tab-pane fade panel panel-default">
            @{Html.RenderAction("Index", "Usuario");}
        </div>
        <div id="divContenedorEmpresa" class="tab-pane fade panel panel-default">
            @{Html.RenderAction("Index", "Empresa");}
        </div>
    </div>
}
else
{
    <h2>Inicio Modulo Empresarial</h2>

    <ul id="ulContenedorTabEmpresarial" class="nav nav-pills nav-justified">

        @foreach (Modulo mod in modulos)
        {
            if (@mod.Nombre.ToLower().Trim() != "inicio")
            {
                string strHref = "divContenedorEmpresarial" + i.ToString();
                if (i == 0)
                {
                    <li role="presentation" class="active">
                        <a href="#@strHref" data-toggle="tab"> @mod.Nombre </a>
                    </li>
                }
                else
                {
                    <li role="presentation">
                        <a href="#@strHref" data-toggle="tab"> @mod.Nombre </a>
                    </li>
                }
                i++;
            }
        }
    </ul>
    <div class="tab-content">
        @for (int j = 0; j < i; j++)
        {
            string strHref = "divContenedorEmpresarial" + j.ToString();
            <div id="@strHref" class="tab-pane fade in active panel panel-default">
                ...
            </div>
        }
    </div>
}
