<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MotorReservas.GenericCustomLog.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MotorReservas.CustomLogging.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MotorReservas.CustomLogging.LogSettings>
      <setting name="PathLog" serializeAs="String">
        <value>c:\TMP\Log.xml</value>
      </setting>
      <setting name="StringConection" serializeAs="String">
        <value>persistsecurityinfo=True;server=192.168.1.101;user id=sa;database=MotorReservas; password = 1234567890;</value>
      </setting>
    </MotorReservas.CustomLogging.LogSettings>
    <MotorReservas.GenericCustomLog.LogSettings>
      <setting name="StringConection" serializeAs="String">
        <value>persistsecurityinfo=True;server=192.168.1.101;user id=sa;database=MotorReservas; password = 1234567890;</value>
      </setting>
      <setting name="PathLog" serializeAs="String">
        <value>c:\TMP\Log.xml</value>
      </setting>
    </MotorReservas.GenericCustomLog.LogSettings>
  </applicationSettings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="rs" cookieless="UseCookies" protection="All"></forms>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Administracion" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49541/Administracion.svc"
        binding="basicHttpBinding" bindingConfiguration="Administracion"
        contract="AdministracionService.IAdministracion" name="Administracion" />
    </client>
  </system.serviceModel>


  <exceptionHandling>
    <exceptionPolicies>
      <add name="Politica Modelo">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add name="Componente Modelo"
                   logCategory="CompomenteModelo"
                   eventId="3"
                   severity="Error"
                   priority="0"
                   layer="3"
                   title="Campa de Modelo de Entidades"
                   moduleId="3"
                   mnemonic="MRCM"
                   subcategory="GEN"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                   type="Custom.GenericLoggingExceptionHandler, MotorReservas.CustomLogging"
                   replaceExceptionType="MotorReservas.Entidad.Exceptions.Exceptions.ModeloException, MotorReservas.Entidad"
               />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Politica Controlador">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add name="Componente Controlador"
                   logCategory="ComponenteControlador"
                   eventId="1"
                   severity="Error"
                   priority="0"
                   layer="1"
                   title="Campa del Controlador"
                   moduleId="4"
                   mnemonic="MRCC"
                   subcategory="GEN"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                   type="Custom.GenericLoggingExceptionHandler, MotorReservas.CustomLogging"
                   replaceExceptionType="MotorReservas.Entidad.Exceptions.Exceptions.WebControllerException, MotorReservas.Entidad"
               />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Politica Negocio">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add name="Componente Negocio"
                   logCategory="ComponenteNegocio"
                   eventId="1"
                   severity="Error"
                   priority="0"
                   layer="1"
                   title="Capa de Procesos de Negocio"
                   moduleId="2"
                   mnemonic="MRCN"
                   subcategory="GEN"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                   type="Custom.GenericLoggingExceptionHandler, MotorReservas.CustomLogging"
                   replaceExceptionType="MotorReservas.Entidad.Exceptions.Exceptions.NegocioException, MotorReservas.Entidad"
               />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Politica Servicio">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add name="Componente Servicio"
                   logCategory="ComponenteServicio"
                   eventId="2"
                   severity="Error"
                   priority="0"
                   layer="2"
                   title="Capa de exposicion de servicios"
                   moduleId="0"
                   mnemonic="MRCS"
                   subcategory="GEN"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                   type="Custom.GenericLoggingExceptionHandler, MotorReservas.CustomLogging"
                   replaceExceptionType="MotorReservas.Entidad.Exceptions.Exceptions.ServiceException, MotorReservas.Entidad"
               />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  
  <loggingConfiguration tracingEnabled="true" defaultCategory="General">
    <logFilters>
      <add name="Category" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" categoryFilterMode="AllowAllExceptDenied">
        <categoryFilters>
          <!--<add name="UI Events"/>-->
        </categoryFilters>
      </add>
      <add name="Priority" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" minimumPriority="0" />
      <!--<add name="LogEnabled Filter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="true"/>-->
    </logFilters>
    <categorySources>
      <add name="CompomenteModelo" switchValue="All">
        <listeners>
          <add name="MotorReservas Custom Trace Listener"/>
        </listeners>
      </add>
      <add name="ComponenteControlador" switchValue="All">
        <listeners>
          <add name="MotorReservas Custom Trace Listener"/>
        </listeners>
      </add>
      <add name="ComponenteNegocio" switchValue="All">
        <listeners>
          <add name="MotorReservas Custom Trace Listener"/>
        </listeners>
      </add>
      <add name="ComponenteServicio" switchValue="All">
        <listeners>
          <add name="MotorReservas Custom Trace Listener"/>
        </listeners>
      </add>
      <add name="Trace" switchValue="All">
        <listeners>
          <add name="MotorReservas Custom Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors name="critical" switchValue="All">
        <listeners>
          <add name="MotorReservas Event Viewer" />
        </listeners>
      </errors>
    </specialSources>
    <listeners>
      <add name="Archivo Plano" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           fileName="d:\trace.log" header="----------------header------------------------" footer="----------------footer------------------------" formatter="Text Formatter" />
      <add name="MotorReservas Custom Trace Listener"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           traceOutputOptions="Timestamp" filter="All"
           type="Custom.GenericFormattedServiceTraceListener, MotorReservas.CustomLogging"
           initializeData="" formatter="Text Formatter" />
      <add name="MotorReservas Event Viewer"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral "
        source="MotorReservas - Exception" formatter="Text Formatter" log="MotorReservas"
        machineName="." traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
      <add name="MotorReservas Listener"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral "
        source="MotorReservas - Tracert" formatter="Text Formatter" log="MotorReservas"
        machineName="." traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />

    </listeners>
    <formatters>
      <add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" />
    </formatters>
  </loggingConfiguration>
  
  <cachingConfiguration defaultCacheManager="cache1hora">
    <cacheManagers>
      <add name="cache10minutos" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="300" backingStoreName="Null Storage" />
      <add name="cache1hora" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="300" backingStoreName="Null Storage" />
      <add name="cache4Horas" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="14400" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="40" backingStoreName="Null Storage" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>

</configuration>
