<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotorReservas.CustomLogging.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MotorReservas.CustomLogging.LogSettings>
            <setting name="PathLog" serializeAs="String">
                <value>c:\TMP\Log.xml</value>
            </setting>
            <setting name="StringConection" serializeAs="String">
                <value>persistsecurityinfo=True;server=192.168.1.101;user id=sa;database=MotorReservas; password = 1234567890;</value>
            </setting>
        </MotorReservas.CustomLogging.LogSettings>
    </applicationSettings>
</configuration>